SSH_USERNAME=test
SSH_SERVER_IP=test
SERVER_PROJECT_DIR=/test
NOTES_PATH=/test/notes
SERVER_CONNECTION=test@test
NOTES_DESTINATION_PATH=/test/notes/destination
EIGHT_BIT_DATABASE=test-db
EIGHT_BIT_DATABASE_DESTINATION_PATH=/test/databases/8bit
PLANKA_DATABASE_PATH=/test/databases/planka
PLANKA_DATABASE=test-planka-db
PORTAINER_URL=https://test.portainer.dev/
PLANKA_URL=https://test.planka.dev/
CHECK_SPACE_COMMAND=test
