# Environment
.env
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Build artifacts
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/

# MyPy
.mypy_cache/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db